.container {
  align-items: center;
  background-color: #2D3032;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.container form {
  align-items: center;
  background-color: #E7E7E7;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 500px;
  max-width: 550px;
  min-width: 150px;
  padding: 20px;
  width: 100%;
}

.container form .form-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  width: 90%;
}

.container form .form-container input, .container form .form-container button {
  border-radius: 3px;
  margin: 10px;
  max-width: 475px;
  padding: 15px 10px;
  width: 100%;
}

.container form .form-container input {
  border: 1px solid #FFFFFF;
}

.container form .form-container input.error {
  border: 1px solid #D62F2C;
}

.container form .form-container h1 {
  color: #2D3032;
  font-size: 36px;
}

.container form .form-container button {
  background-color: #D62F2C;
  color: #FFFFFF;
  font-weight: bold;
  height: 60px;
  margin-top: 60px;
}

.container form .form-container button:disabled {
  background-color: #AAAAAA;
}

.error-text {
  color: #D62F2C;
  display: inline;
  font-size: 13px;
  height: 20px;
  margin-left: 10px;
  width: 100%;
}